.board {
  margin: 100px 500px;
}

.button {
  width: 100px;
  height: 100px;
  background-color: white;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  font-size: 25px;
}